<div class="col-xs-4">

    <a href="/trip/<%= tripObj.trip_nuber %>" class="thumbnail" style="
        background-image: url( 'images/cover_pic_<%= tripObj.trip_nuber %>.jpg' );";>
        <div class="oo-trip-number"><h5><%= tripObj.trip_nuber %></h5></div>
        <div class="caption">
            <h3><%= tripObj.campground_name %></h3>
            <%= tripObj.arrival_date %>
        </div>
    </a>
    
</div>