<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        <main class="">

            <!-- START : header -->
            <% include ../partials/header %>
            <!-- END : header -->

            <!-- START : content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 oo-content-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <h1>Camping Trips</h1> -->
                                <br>

                                <div class="container-fluid oo-thumbs">
                                    <div class="row">

                                        <div class="col-xs-4">
                                            <div class="thumbnail" id="oo-thumb-1">
                                                <div class="oo-trip-number"><h5>1</h5></div>
                                                <div class="caption">
                                                    <h3>Macedonia Brook</h3>
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-4">
                                            <div class="thumbnail" id="oo-thumb-2">
                                                <div class="oo-trip-number"><h5>2</h5></div>
                                                <div class="caption">
                                                    <h3>Henderson Beach</h3>
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-4">
                                            <div class="thumbnail" id="oo-thumb-3">
                                                <div class="oo-trip-number"><h5>3</h5></div>
                                                <div class="caption">
                                                    <h3>Putnam Pond</h3>
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-4">
                                            <div class="thumbnail" id="oo-thumb-4">
                                                <div class="oo-trip-number"><h5>4</h5></div>
                                                <div class="caption">
                                                    <h3>Ricketts Glen</h3>
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-4">
                                            <div class="thumbnail" id="oo-thumb-5">
                                                <div class="oo-trip-number"><h5>5</h5></div>
                                                <div class="caption">
                                                    <h3>Fahnestock</h3>
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </div>
                                            
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END : content -->

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <table border="1">
                                    <tr>
                                        <th>trip Num</th>
                                        <th>Camp</th>
                                        <th>Arrival</th>
                                        <th>Departure</th>
                                        <th>Site</th>
                                        <th>LAT</th>
                                        <th>LON</th>
                                        <th>Memo</th>
                                    </tr>
                                    <% trips.forEach( function( trip ) { %>
                                    <tr>
                                        <td><%= trip.tripNumber %></td>
                                        <td><%= trip.campgroundName %></td>
                                        <td><%= trip.arrivalDate %></td>
                                        <td><%= trip.departureDate %></td>
                                        <td><%= trip.siteNumber %></td>
                                        <td><%= trip.latitude %></td>
                                        <td><%= trip.longitude %></td>
                                        <td><%= trip.memo %></td>
                                    </tr>
                                    <% }); %>
                                </table>
                    </div>
                </div>
            </div>
            

            <!-- START : footer -->
            <% include ../partials/footer %>
            <!-- END : footer -->

        </main>

    </body>
</html>