<!doctype html>
<html lang="en">
    <head>

        <% include ../partials/head %>

    </head>
    <body>

        <main class="">
            
            <!-- START : header -->
            <% include ../partials/header %>
            <!-- END : header -->
            
            

            <div class="oo-hero" style="background-image: url( '../images/jumbo_<%= theTrip.tripNumber %>.jpg' );">

                <div class="oo-hero-header">
                    <div class="oo-hero-trip-num"><%= theTrip.tripNumber %></div>
                    <div class="oo-hero-title"><%= theTrip.campgroundName %></div>
                </div>
                
                <h1><%= theTrip.campgroundName %></h1>
            </div>


            <%= theTrip.arrivalDate + ' to ' + theTrip.departureDate %><br>
            Site Number: <%= theTrip.siteNumber %><br>
            <%= theTrip.latitude %>, <%= theTrip.longitude %><br>
            address: <%= theTrip.campgroundAddress %><br>
            phone: <%= theTrip.campgroundPhone %><br>
            lati = <%= theTrip.latitude %><br>
            long = <%= theTrip.longitude %>

            <div id="oo-map"></div>


        </main>
    
        <!-- START : footer -->
        <% include ../partials/footer %>
        <!-- END : footer -->

        <script>
            var lati = <%= theTrip.latitude %>;
            var long = <%= theTrip.longitude %>
        </script>
        <script async src="/js/jquery.js"></script>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAvTGSxFZY3mPDsJ1YMw1hZkQcA7_wiacw&callback="></script>
        <script async src="/js/main.js"></script>

    </body>
</html>