<!doctype html>
<html lang="en">
    <head>

        <% include ../partials/head %>

    </head>
    <body>

        <main class="">
            
            <!-- START : header -->
            <% include ../partials/header %>
            <!-- END : header -->
            
            

            <div class="oo-hero" style="background-image: url( '../images/jumbo_<%= theTrip.tripNumber %>.jpg' );">

                <div class="oo-hero-header">
                    <div class="oo-hero-trip-num"><p><%= theTrip.tripNumber %></p></div>
                    <div class="oo-hero-title"><p><%= theTrip.campgroundName %></p></div>
                </div>
                
            </div>

            <div class="oo-trip-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

            <div class="oo-gallery-flex">
                <div>
                    
                </div>
                <div>
                    
                </div>
                <div>
                    
                </div>

                <div>
                    
                </div>
                <div>
                    
                </div>
                <div>
                    
                </div>

                <div>
                    
                </div>
                <div>
                    
                </div>
                <div>
                    
                </div>
            </div>

            <div class="oo-info">

                <!-- <div>
                    logo
                </div> -->
                

                <div>
                    Arrival Date
                </div>
                <div>
                    <%= theTrip.arrivalDate %>
                </div>

                <div>
                    Departure Date
                </div>
                <div>
                    <%= theTrip.departureDate %>
                </div>

                <div>
                    Camp Site Number
                </div>
                <div>
                    <div class="oo-site-number"><%= theTrip.siteNumber %></div>
                </div>

                

                <div>
                    Camp Address
                </div>
                <div>
                    <%= theTrip.campgroundAddress %>
                </div>

                <div>
                    Camp Phone
                </div>
                <div>
                    <%= theTrip.campgroundPhone %>
                </div>

                <div>
                    Coordinates
                </div>
                <div>
                    <%= theTrip.latitude %>, <%= theTrip.longitude %>
                </div>

            </div>

            


            <div id="oo-map"></div>


        </main>
    
        <!-- START : footer -->
        <% include ../partials/footer %>
        <!-- END : footer -->

        <script>
            var lati = <%= theTrip.latitude %>;
            var long = <%= theTrip.longitude %>
        </script>
        <script async src="/js/jquery.js"></script>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAvTGSxFZY3mPDsJ1YMw1hZkQcA7_wiacw&callback="></script>
        <script async src="/js/main.js"></script>

    </body>
</html>