<!doctype html>
<html lang="en">
    <head>

        <% include ../partials/head %>

    </head>
    <body>

        <main class="">
            
            <!-- START : header -->
            <% include ../partials/header %>
            <!-- END : header -->

            

            <%= theTrip.tripNumber %><br>
            <%= theTrip.campgroundName %><br>
            <%= theTrip.arrivalDate + ' to ' + theTrip.departureDate %><br>
            <%= theTrip.siteNumber %><br>
            <%= theTrip.latitude %><br>
            <%= theTrip.longitude %><br>

            <div id="oo-map" class="red" style="height: 300px;"></div>

        </main>

    </body>
</html>